@font-face {
  font-family: head;
  src: url("./Montserrat-Black.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
@mixin flex-col($gap: 0) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $gap;
}
main {
  width: 100%;
  padding: 7.5rem;

  div.view-1 {
    @include flex-col(10px);
    width: 100%;
    text-align: center;
    // font-weight: 900;
    // border: 2px solid black;

    div.line {
      font-size: 5rem;
      font-family: head;

      span {
        font-size: 3.4rem;
        // letter-spacing: -2px;
        // margin-left: -2px;
      }
    }
    div.desc {
      font-size: 1.3rem;
      font-family: Arial, Helvetica, sans-serif;
      color: #46383c;
    }
    div.two-btn {
      @include flex-col(3rem);
      flex-direction: row;
      padding: 1rem;

      a.btn {
        width: auto;
        padding: 25px 35px;
        border: 2px solid #b8b9bf;
        text-decoration: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        border-radius: 5px;
      }
      a#btn-2 {
        color: white;
        background-color: #a135f6;
        border: 1px solid #b764f8;
      }
    }
  }

  section.view-2 {
    width: 100%;
    position: relative;
    bottom: 5rem;
    z-index: 1 ;
    
    @include flex-col(2rem);

    video{
        height: auto;
        width: 60%;
        border-radius: 1rem;
        position: absolute;
        z-index: 2;
        top: 5rem;

    }

    div {
    //   height: 5rem ; 
      width: 90% ;  
      display: flex ;
      justify-content: space-between;
      align-items: center ;

      img {
        width: 12rem ;
        border-radius: 10px ;
      }


    }
    .row1 , .row3 {
      padding:0 2rem;
    }
    .row2{
        padding : 0 -2rem ;
    }
  }
}
